<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Speech Recognition in Python</title>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/index.css') }}" />
</head>
<body>
<div id="speechContainer">
    <h1>Upload new File</h1>
    <form method="post" enctype="multipart/form-data">
        <input type="file" name="file"/>
        <br>
        <input type="submit" id="submitButton" value="Assess"/>
    </form>
    {% if taskAchievement != "" %}
    <div id="TaskContainer">
        <h1>Task Achievement</h1>
        <p id="speechText">{{ taskAchievement }}</p>
    </div>
{% endif %}

    {% if transcript_kaldi != "" %}
        <div id="speechTranscriptContainer_kaldi">
            <h1>Transcript1</h1>
            <p id="speechText_kaldi">{{ transcript_kaldi }}</p>
        </div>
    {% endif %}

    {% if transcript_wav2vec != "" %}
        <div id="speechTranscriptContainer_wav2vec">
            <h1>Transcript2</h1>
            <p id="speechText_wav2vec">{{ transcript_wav2vec }}</p>
        </div>
    {% endif %}

    {% if range != "" %}
    <div id="rangeContainer">
        <h1>Range</h1>
        <p id="speechText">{{ range }}</p>
    </div>
    {% endif %}

    {% if accuracy != "" %}
    <div id="accuracyContainer">
        <h1>Accuracy</h1>
        <p id="speechText">{{ accuracy }}</p>
    </div>
    {% endif %}

    {% if pronunciation != "" %}
    <div id="pronunciationContainer">
        <h1>Intelligibility</h1>
        <p id="speechText">{{ pronunciation }}</p>
    </div>
    {% endif %}

    {% if fluency != "" %}
    <div id="FluencyContainer">
        <h1>Fluency</h1>
        <p id="speechText">{{ fluency }}</p>
    </div>
{% endif %}
</div>

</body>
</html>